@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-building109:before {
	content: "\e000";
}
.flaticon-building33:before {
	content: "\e001";
}
.flaticon-city21:before {
	content: "\e002";
}
.flaticon-construction10:before {
	content: "\e003";
}
.flaticon-construction14:before {
	content: "\e004";
}
.flaticon-construction16:before {
	content: "\e005";
}
.flaticon-construction17:before {
	content: "\e006";
}
.flaticon-house111:before {
	content: "\e007";
}
.flaticon-opened17:before {
	content: "\e008";
}
.flaticon-pipes:before {
	content: "\e009";
}
.flaticon-shovel23:before {
	content: "\e00a";
}
.flaticon-stadium1:before {
	content: "\e00b";
}
.flaticon-triangular45:before {
	content: "\e00c";
}
.flaticon-truck29:before {
	content: "\e00d";
}
.flaticon-truck30:before {
	content: "\e00e";
}
.flaticon-wall20:before {
	content: "\e00f";
}
