.btn-wite {
  border: 1px solid #eee;
  color: #444;
  margin-left: 10px;
}
.about .group-btn {
  margin-top: 30px;
}
.banner {
  position: relative;
}
.banner .wrapper {
  padding: 30px 0;
  color: #fff;
}
.banner h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}
.banner p {
  color: #fff;
}
