.tparrows.preview1:hover:after {
  color: #ffbb02;
}
.tp-bullets.preview1 .bullet:hover,
.tp-bullets.preview1 .bullet.selected {
  background: #ffbb02 !important;
}
.tp-caption .small-description {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 300;
}
.tp-caption .small-description span {
  font-size: 32px;
  font-weight: 700;
}
.tp-caption .big-title {
  font-size: 53px;
  color: #fff;
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
}
.tp-caption .btn-large {
  color: #fff;
  font-size: 22px;
  padding: 18px 40px;
  z-index: 11;
}
#carousel-area {
  overflow: hidden;
}
#carousel-area .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
#carousel-area .carousel-inner .active {
  opacity: 1;
}
#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
  opacity: 1;
}
#carousel-area .carousel-control {
  z-index: 2;
}
#carousel-area .item {
  background-size: 100%;
  background-size: cover;
  height: 560px;
}
#carousel-area .item .carousel-caption {
  top: 35%;
  right: 10%;
  left: 10%;
  text-shadow: none;
}
#carousel-area .item .carousel-caption h2 {
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .carousel-caption h3 {
  font-size: 20px;
  font-weight: 100;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  margin-bottom: 30px;
  line-height: 40px;
}
#carousel-area .item .carousel-caption .btn {
  margin: 10px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .active {
  opacity: 1;
}
#carousel-area .active.left,
#carousel-area .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-control {
  z-index: 10;
  width: 35px;
  height: 55px;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background-image: none;
  margin-top: -35px;
  text-shadow: none;
}
#carousel-area .carousel-control i {
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
}
#carousel-area .left.carousel-control {
  left: 5%;
}
#carousel-area .right.carousel-control {
  right: 5%;
}
#carousel-area .carousel-indicators {
  bottom: 45px;
}
#carousel-area:hover .carousel-control {
  display: block;
}
#carousel-area i {
  margin-right: 10px;
}
.hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
}
.hero-area .contents {
  padding: 110px 0px;
  text-align: center;
}
.hero-area .contents h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.hero-area .contents p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.hero-area .contents .btn {
  margin: 15px;
}
