.boxed {
  width: 100%;
  padding: 30px 0;
}
.boxed h3 {
  color: #fff;
  padding: 5px 0;
  font-size: 24px;
}
.boxed .btn-border {
  float: right;
}
.service-box {
  position: relative;
  text-align: center;
}
.service-box .service-head {
  margin-bottom: 25px;
  padding-bottom: 5px;
  position: relative;
}
.service-box .service-head:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  letter-spacing: 50%;
  margin-left: -30px;
  bottom: -5px;
}
.service-box .service-head .icon {
  margin-bottom: 30px;
  display: block;
}
.service-box .service-head .icon i {
  width: 80px;
  background: #f1f1f1;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  height: 80px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-box .service-head .icon i:before {
  font-size: 42px;
  margin: 0;
}
.service-box .service-head h2 {
  color: #666;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 30px;
}
.company-ever .company-bg {
  background: #FAFAFA;
  overflow: hidden;
}
.company-ever .content {
  background: #202E31;
  color: #fff;
  float: right;
  padding: 40px;
  position: relative;
  margin-right: -15px;
}
.company-ever .content h2 {
  float: right;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
}
.company-ever .content p {
  float: right;
  color: #FFF;
  padding: 21px 0px;
  text-align: right;
}
.company-ever .content .compayt-button {
  float: right;
}
.company-ever .content:before {
  position: absolute;
  content: "";
  top: -16px;
  left: -23px;
  width: 50px;
  height: 107%;
  background: #FAFAFA none repeat scroll 0% 0%;
  transform: rotate(370deg);
}
#portfolio {
  padding-top: 80px;
}
.controls {
  margin: 25px 0;
}
.controls a {
  display: inline-block;
  border-radius: 0px;
  cursor: pointer;
  margin: 0px 5px;
  color: #898989;
  text-transform: uppercase;
  border: 1px solid #f1f1f1;
  padding: 10px 15px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -0-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
#portfolio-list .mix {
  padding-left: 0;
  padding-right: 0;
}
.portfolio-item {
  overflow: hidden;
  display: block;
  position: relative;
}
.portfolio-item img {
  zoom: 1;
  width: 100%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -0-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.portfolio-item:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -0-transform: scale(1.4);
  transform: scale(1.4);
}
.portfolio-item .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(43, 44, 48, 0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 30px;
  -webkit-transition: all 600ms ease-out 0s;
  -moz-transition: all 600ms ease-out 0s;
  -o-transition: all 600ms ease-out 0s;
  transition: all 600ms ease-out 0s;
}
.portfolio-item .icon {
  left: 0px;
  right: 0px;
  width: 42%;
  top: 30%;
  text-align: center;
  position: absolute;
  opacity: 0;
  margin: 0px auto;
  -webkit-transition: all 600ms ease-out 0s;
  -moz-transition: all 600ms ease-out 0s;
  -o-transition: all 600ms ease-out 0s;
  transition: all 600ms ease-out 0s;
}
.portfolio-item .icon i {
  width: 48px;
  height: 48px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  color: #fff;
  line-height: 48px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.portfolio-item .icon i:hover {
  color: #444;
}
.portfolio-item .icon .left {
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  transform: translateY(25px);
}
.portfolio-item .icon .right {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  transform: translateY(-25px);
}
.portfolio-item .content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  margin: 0px auto;
  padding: 10px 22px;
  text-align: center;
  -webkit-transform: translateY(90px);
  -moz-transform: translateY(90px);
  transform: translateY(90px);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -0-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.portfolio-item .content h3 {
  color: #31302C;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 33px;
}
.portfolio-item .content h3 a {
  color: #fff;
}
.portfolio-item .content p {
  color: #444;
  font-size: 16px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.portfolio-item:hover .icon {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.portfolio-item:hover .left {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-item:hover .right {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-item:hover .content {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.featured {
  background: transparent url("../img/featured/bg.jpg");
}
.featured:before {
  position: absolute;
  background: rgba(38, 30, 77, 0.7);
  content: " ";
  top: 0px;
  width: 100%;
  height: 100%;
}
.featured-content {
  margin-bottom: 40px;
}
.featured-content p {
  color: #fff;
}
.featured-header {
  display: inline-block;
  margin-bottom: 25px;
}
.featured-header i {
  float: left;
  width: 48px;
  font-size: 18px;
  height: 48px;
  line-height: 44px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-header .featured-title {
  padding-left: 68px;
}
.featured-header .featured-title h4 a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
}
.featured-header .featured-title p {
  font-size: 13px;
  font-weight: 300;
}
.featured-thumb {
  text-align: center;
}
.team-member {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.team-member .team-thumbnail {
  display: block;
  border: 2px solid #eee;
  border-bottom: none;
}
.team-member .team-thumbnail img {
  width: 100%;
}
.team-member .team-thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  opacity: 0;
  bottom: -1px;
  height: 100%;
  background-color: rgba(38, 30, 77, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-member .team-thumbnail .text {
  color: #fff;
  padding: 0 15px;
  top: 25%;
  text-align: center;
  position: absolute;
  width: 100%;
}
.team-member .team-thumbnail .name {
  position: absolute;
  bottom: 74px;
  width: 100%;
}
.team-member .team-thumbnail .social-media {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  text-align: center;
  bottom: 0;
  background: #261E4D;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-member .team-thumbnail .social-media a {
  display: inline-block;
}
.team-member .team-thumbnail .social-media a i {
  font-size: 20px;
  color: #fff;
  width: 42px;
  margin: -2px;
  line-height: 42px;
  height: 42px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.team-member .team-thumbnail .social-media a.facebook:hover i {
  background: #507CBE;
}
.team-member .team-thumbnail .social-media a.twitter:hover i {
  background: #63CDF1;
}
.team-member .team-thumbnail .social-media a.google:hover i {
  background: #F16261;
}
.team-member .team-thumbnail .social-media a.linkedin:hover i {
  background: #90CADD;
}
.team-member .info {
  padding: 15px;
}
.team-member .info h4 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.team-member .info p {
  color: #fff;
}
.team-member:hover .overlay {
  opacity: 1;
}
.team-2 .team-member .team-thumbnail {
  border: none;
}
#counter {
  width: 100%;
  background: url(../img/bg/bg1.jpg) fixed;
  background-size: cover;
  position: relative;
}
#counter:before {
  position: absolute;
  content: " ";
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.counter-item {
  margin: 30px 0;
  border-left: 1px dotted #f1f1f1;
}
.counter-item .icon {
  text-align: center;
  margin-bottom: 22px;
}
.counter-item .icon i {
  font-size: 54px;
  color: #fff;
  line-height: 64px;
}
.counter-item h5 {
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.counter-item h5 span {
  font-size: 11px;
  font-weight: 300;
}
.counter-item hr {
  width: 50px;
  margin: 0px auto;
  height: 2px;
  background: #fff;
}
.left-line {
  border-left: none;
}
.timer {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
}
.project .projects-box {
  padding: 15px 0px 30px;
}
.project .projects-box .projects-thumb {
  margin-bottom: 20px;
  position: relative;
  /*  
			&:before{
				content: '';
				position: absolute;
				background: rgba(43, 44, 48, 0.8);
				top: 0;
				opacity: 0;
				width: 100%;
				left: 0;
				height: 100%;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}		
			*/
}
.project .projects-box .projects-thumb:hover:before {
  opacity: 1;
}
.project .projects-box .projects-content h4 {
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.project .projects-box .projects-content h4 a:hover {
  color: #ffbb02;
}
.project .projects-box .projects-content .recent-meta {
  font-size: 11px;
  padding: 6px 0 5px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project .projects-box .projects-content .recent-meta span {
  margin-right: 5px;
}
.project .projects-box .projects-content .recent-meta span i {
  margin-right: 5px;
  color: #ccc;
}
.project .projects-box .projects-content .projects-desc {
  margin-bottom: 15px;
}
#testimonial {
  width: 100%;
  background: url(../img/testimonial/testimonial-bg.jpg);
  background-size: cover;
  position: relative;
}
#testimonial:before {
  position: absolute;
  background: rgba(238, 180, 20, 0.7);
  content: " ";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#testimonial .img-member {
  height: 125px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #fff;
  margin-top: 22px;
  overflow: hidden;
  width: 125px;
}
#testimonial .client-info {
  color: #fff;
  line-height: 20px;
  margin-top: 30px;
  max-width: 485px;
  padding: 6px 0;
  margin: 42px auto;
}
#testimonial .client-info .client-name {
  font-size: 22px;
  line-height: 44px;
  text-transform: uppercase;
}
#testimonial .client-info .client-name span {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  font-style: italic;
}
#testimonial p {
  margin: 40px 33px;
  text-align: center;
  border-left: 0px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-style: italic;
  position: relative;
}
#testimonial p .quote-left {
  font-size: 32px;
  margin-right: 36px;
}
#testimonial p .quote-right {
  font-size: 32px;
  margin-left: 36px;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
  border-radius: 50%;
  font-size: 30px;
  margin: 20px 10px 0;
  padding: 0 16px;
}
.client {
  background: #f1f1f1;
}
.client-logo {
  overflow: hidden;
}
.client-item {
  padding: 15px 0;
  text-align: center;
}
.client-item a {
  display: block;
}
.client-item img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}
.client-item img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: gray;
  opacity: 1.0;
}
.clear {
  clear: both;
}
footer {
  background-color: #333;
  padding: 60px 0;
}
footer p {
  color: #ccc;
}
footer a {
  color: #666;
}
.footer-widget h4 {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.flickr-widget ul {
  overflow: hidden;
}
.flickr-widget ul li {
  float: left;
  margin-left: 3px;
  margin-bottom: 3px;
}
.flickr-widget ul li a {
  display: inline-block;
  width: 80px;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.flickr-widget ul li a img {
  width: 100%;
  height: 65px;
}
.flickr-widget ul li a:hover {
  opacity: 1;
}
.address li {
  display: block;
  margin-bottom: 16px;
}
.address li a {
  color: #fff;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.address li a i {
  padding-right: 5px;
}
.hours-widget .contact-info p {
  margin-bottom: 5px;
}
.hours-widget .contact-info ul.hours li {
  color: #fff;
  margin: 0;
  padding: 5px 0px;
  border-top: 1px solid #666;
}
.hours-widget .contact-info ul.hours li:first-child {
  border-top: none;
}
.hours-widget .contact-info ul.hours span {
  float: right;
  font-weight: 700;
}
.copyright-section {
  padding: 15px 0;
  background: #666;
  text-align: center;
  letter-spacing: 0.5px;
}
.copyright-section p {
  font-size: 12px;
  color: #fff;
}
.copyright-section p a:hover {
  color: #fff;
}
.copyright-section ul.footer-nav {
  float: right;
}
.copyright-section ul.footer-nav li {
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.copyright-section ul.footer-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #6D7780;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.copyright-section ul.footer-nav li a:hover {
  color: #fff;
}
.copyright-section ul.footer-nav li:first-child {
  margin-left: 0;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.switcher-box {
  width: 236px;
  position: fixed;
  left: -236px;
  top: 180px;
  padding: 15px 0;
  z-index: 999999999;
  background-color: #fff;
  display: block !important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.switcher-box h4 {
  display: block;
  margin: 0px 20px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 10px;
}
.switcher-box span {
  display: block;
  text-transform: uppercase;
  padding: 5px 20px;
  text-align: left;
}
.switcher-box .colors-list {
  padding: 0 18px 0 18px;
  margin-bottom: 8px;
  line-height: 20px;
}
.switcher-box .colors-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .colors-list li a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 3px;
  cursor: pointer;
}
.switcher-box .colors-list li a.yellow {
  background-color: #ffbb02;
}
.switcher-box .colors-list li a.turquoise {
  background-color: #1abc9c;
}
.switcher-box .colors-list li a.emerald {
  background-color: #2ecc71;
}
.switcher-box .colors-list li a.river {
  background-color: #3498db;
}
.switcher-box .colors-list li a.wisteria {
  background-color: #8e44ad;
}
.switcher-box .colors-list li a.alizarin {
  background-color: #e74c3c;
}
.switcher-box .layout-style,
.switcher-box .topbar-style {
  width: 172px;
  padding: 6px 9px;
  outline: none;
  display: block;
  background: #fff;
  border-radius: 3px;
  padding: 4px 6px;
  color: #666;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  margin: 0 0 12px 20px;
  border: 1px solid #ddd;
}
.switcher-box .bg-list {
  padding: 0 18px 0 18px;
  margin-bottom: 5px;
}
.switcher-box .bg-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .bg-list li a {
  display: block;
  border-radius: 3px;
  width: 27px;
  height: 27px;
}
.switcher-box .bg-list li a.bg1 {
  background: url(../img/patterns/1.jpg) repeat;
}
.switcher-box .bg-list li a.bg2 {
  background: url(../img/patterns/2.jpg) repeat;
}
.switcher-box .bg-list li a.bg3 {
  background: url(../img/patterns/3.png) repeat;
}
.switcher-box .bg-list li a.bg4 {
  background: url(../img/patterns/4.png) repeat;
}
.switcher-box .bg-list li a.bg5 {
  background: url(../img/patterns/5.png) repeat;
}
.switcher-box .bg-list li a.bg6 {
  background: url(../img/patterns/6.png) repeat;
}
.switcher-box .open-switcher {
  width: 42px;
  height: 42px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 100%;
  border-radius: 0px;
}
.switcher-box .open-switcher i {
  text-align: center;
  line-height: 42px;
  font-size: 25px;
  color: #fff;
  display: block;
}
.iframe {
  border: none;
}
.error-bg {
  background: #ECF0F1;
}
.error-page {
  text-align: center;
  padding: 40px 0;
}
.error-page p {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-bottom: 25px;
}
.error-page h1 {
  font-size: 280px;
  margin: 130px 0px;
}
.error-page h2 {
  font-size: 42px;
  line-height: 68px;
}
.error-page #search {
  position: relative;
  margin-bottom: 50px;
}
.error-page #search p {
  color: #999;
}
.error-page #search .search-btn {
  position: absolute;
  top: 65px;
  right: 15px;
}
/*
 * Nivo Lightbox v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
.nivo-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
  visibility: visible;
  opacity: 1;
}
.nivo-lightbox-wrap {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.nivo-lightbox-content {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
}
.nivo-lightbox-nav {
  display: none;
}
.nivo-lightbox-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.nivo-lightbox-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.nivo-lightbox-close {
  position: absolute;
  top: 2%;
  right: 2%;
}
.nivo-lightbox-image {
  text-align: center;
}
.nivo-lightbox-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.nivo-lightbox-content iframe {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-ajax {
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
  display: table-cell;
  vertical-align: middle;
}
.nivo-lightbox-effect-fade,
.nivo-lightbox-effect-fadeScale,
.nivo-lightbox-effect-slideLeft,
.nivo-lightbox-effect-slideRight,
.nivo-lightbox-effect-slideUp,
.nivo-lightbox-effect-slideDown,
.nivo-lightbox-effect-fall {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateZ(300px);
  -moz-transform: translateZ(300px);
  -ms-transform: translateZ(300px);
  transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
  background: #666;
  background: rgba(0, 0, 0, 0.8);
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
  background: url(../img/lightbox/loading.gif) no-repeat 50% 50%;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav {
  top: 10%;
  width: 8%;
  height: 80%;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev {
  background-image: url(../img/lightbox/prev.png);
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next {
  background-image: url(../img/lightbox/next.png);
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}
.nivo-lightbox-theme-default .nivo-lightbox-close {
  display: block;
  background: url(../img/lightbox/close.png) no-repeat 5px 5px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  padding: 5px;
  opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover {
  opacity: 1;
}
.nivo-lightbox-theme-default .nivo-lightbox-title-wrap {
  bottom: -7%;
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #000;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
@media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
    background-image: url(../img/lightbox/loading@2x.gif);
    background-size: 32px 32px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-prev {
    background-image: url(../img/lightbox/prev@2x.png);
    background-size: 48px 48px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-next {
    background-image: url(../img/lightbox/next@2x.png);
    background-size: 48px 48px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-close {
    background-image: url(../img/lightbox/close@2x.png);
    background-size: 16px 16px;
  }
}
