@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666;
}
strong,
b {
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
}
a:hover {
  color: #444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
i {
  font-size: 1.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 28px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
p {
  color: #666;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 22px;
}
p strong {
  font-weight: 600;
}
.accent-color-bg {
  color: #fff;
}
a {
  color: #444;
}
.fittext {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.8);
}
.fittext strong {
  font-weight: 700;
}
.page-content p {
  margin-bottom: 15px;
}
.wite-text {
  color: #fff;
}
.uppercase {
  text-transform: uppercase;
}
.image-text {
  margin-right: 10px;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  padding-left: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 15px;
  position: relative;
}
.section-title:before {
  position: absolute;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -15px;
  content: "";
}
.big-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.description {
  margin-bottom: 30px;
}
.btn:focus,
.btn:active {
  color: #FFF;
  outline: none;
}
.btn {
  border: none;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  color: #fff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  color: #fff;
}
.btn-effect {
  overflow: hidden;
}
.btn-effect:before {
  left: auto;
  right: 10px;
  z-index: 2;
}
.btn-effect:before {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  line-height: 3;
  width: 60px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-effect:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 230%;
  z-index: 1;
  right: 0px;
  top: 0px;
  margin: -30px -10px 0px -50px;
  transform-origin: 0px 0px 0px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-effect:hover:after {
  width: 62%;
}
.btn-effect:after {
  background: rgba(0, 0, 0, 0.1);
}
.btn-large {
  color: #fff;
  padding: 25px 120px 25px 60px;
  margin: 15px 0px;
}
.btn-border {
  border: 1px solid #fff;
  color: #fff;
}
.btn-border:hover {
  background: #fff;
}
.btn-small {
  font-size: 18px;
  padding: 10px 12px;
}
.pn {
  margin: 0 15px;
}
ul.social-list li {
  float: left;
}
ul.social-list li a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
ul.social-list li a:hover {
  color: #fff;
}
ul.social-list li a.facebook:hover {
  background-color: #507CBE;
}
ul.social-list li a.twitter:hover {
  background-color: #63CDF1;
}
ul.social-list li a.google:hover {
  background-color: #F16261;
}
ul.social-list li a.dribbble:hover {
  background-color: #E46387;
}
ul.social-list li a.linkdin:hover {
  background-color: #90CADD;
}
ul.social-list li a i {
  font-size: 1em;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.social-link a {
  display: inline-block;
  margin-right: 5px;
}
.social-link a i {
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 0px;
  height: 38px;
  line-height: 36px;
  width: 38px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.social-link .facebook i {
  background: #5D82D1;
}
.social-link .twitter i {
  background: #40BFF5;
}
.social-link .google i {
  background: #EB5E4C;
}
.social-link .linkedin i {
  background: #1985BC;
}
input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover {
  background: #444;
  color: #fff;
}
input[type="submit"] {
  border: none;
}
.tooltip .tooltip-inner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
#content {
  padding: 60px 0;
}
#content.full-sections {
  padding: 0;
}
.section {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.section.repeat-bg {
  background-repeat: repeat;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}
.section-video {
  position: absolute;
  z-index: 33;
  left: 0;
  top: -100px;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}
.section-video object {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.section-video img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.section-video-content {
  z-index: 35;
  position: relative;
  opacity: 0.98;
}
.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 34;
  opacity: 0.7;
}
.light-section {
  color: #fff;
}
.light-section .testimonials {
  color: #666;
}
.light-section .testimonials .testimonial-content p {
  color: #c4c4c4;
}
#container {
  background-color: #fff;
}
.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.boxed-page header {
  width: 1220px;
}
#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.square-spin > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
#portfolio-list .mix {
  display: none;
}
#products .mix {
  display: none;
}
.page-header {
  padding: 30px 0;
  background: rgba(255, 187, 2, 0.7);
  margin: 0;
  text-align: center;
}
.page-header .entry-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.breadcrumb {
  font-size: 14px;
  color: #999;
  background: #fff;
  margin: 3px 0 6px;
  width: 300px;
  border-radius: 0px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.breadcrumb a {
  color: #444;
}
.breadcrumb .crumbs-spacer {
  color: #ccc;
  margin: 0 4px;
}
.navbar-collapse {
  max-height: 340px;
}
