/*=========================== 
13. shop page
============================= */ 
.shop-header-area {
  margin: 50px 0 70px;
  text-align: center;
  text-transform: uppercase;
}
.shop-header-title{}
.shop-header-title h1 {
  font-size: 70px;
}
.shop-header-title ul {
  border-bottom: 2px solid #252525;
  display: inline-block;
}
.shop-header-title ul li:first-child{padding:0}
.shop-header-title ul li {
  display: inline-block;
  padding-left: 40px;
}
.shop-header-title ul li a {
  display: block;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 6px;
}
.shop-header-title ul li a:hover{}
.shop-area {
  margin-bottom: 40px;
}
span.count{float:right}
.price_filter {
  padding-top: 13px;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #eeeeee none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 9px;
  margin-bottom: 30px;
  margin-left: auto;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
background: #fff none repeat scroll 0 0;
border: 3px solid #EC4445;
border-radius: 50%;
height: 21px;
margin-top: -2px;
width: 21px;
}
.price_filter .ui-slider-range {
  background: #EC4445;
}
.price_slider_amount > input[type="text"] {
border-color: #cccccc #ddd #cccccc #cccccc;
border-image: none;
border-style: solid;
border-width: 1px;
font-weight: bold;
height: 40px;
letter-spacing: 3px;
margin-left: 28px;
text-align: center;
width: 130px;
float: right;
}
.price_slider_amount > input[type="submit"] {
background: #252525;
border-color: #cccccc #cccccc #cccccc -moz-use-text-color;
border-image: none;
border-style: solid solid solid none;
border-width: 0;
color: #fff;
float: left;
font-weight: bold;
height: 40px;
letter-spacing: 1px;
text-transform: uppercase;
transition: all 400ms ease-out 0s;
width: 85px;
}
.price_slider_amount > input[type=submit]:hover {
background: #EC4445;
}
.shop-filter h2.shop-sidebar-title {
  margin: 0 0 20px;
}
.top-product-widget{}
.top-product-widget .product-img {
  float: left;
  width: 30%;
}
.top-product-widget .product-img > a::before {
  display: none;
}
.top-product-widget .product-content {
  float: left;
  padding-left: 10px;
  width: 70%;
}
.top-product-widget h2.product-name {
  font-size: 13px;
  margin: 0 0 10px;
}
.top-product-widget .price-box {
  font-size: 15px;
}
.top-product-widget span.old-price {
  font-size: 13px;
}
.top-product-widget li{
  border-bottom: 1px dashed #e8e8e9;
  margin-bottom: 20px;
  padding: 0 0 20px;
}
.top-product-widget li:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding:0;
}
.widget-search{}
.widget{float: left;
margin: 0 0 25px;
padding: 0 0 25px;
width: 100%;}
.widget:last-child{margin:0;padding:0}
h3.sidebar-title{border-bottom: 1px solid #e8e8e9;
margin: 0 0 20px;
padding: 0 0 5px;font-size: 14px;
text-transform: uppercase;}
.widget-form{background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
color: #909295;
float: left;
font-family: Open Sans,Arial,Helvetica,sans-serif;
width: 100%;}
.widget-form input {
  border: medium none;
  float: left;
  font-style: italic;
  height: 34px;
  padding-left: 10px;
  width: 80%;
}
.widget-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  float: right;
  height: 34px;
  padding: 0 12px;
  text-align: right;
  width: 20%;
}
.widget-categories{}
ul.sidebar-menu{}
ul.sidebar-menu li{border-bottom: 1px solid #e8e8e9;
float: left;
font-size: 12px;
line-height: 40px;
list-style: outside none none;
margin: 0;
padding: 0;
width: 100%;}
ul.sidebar-menu li a{text-transform: uppercase;}
ul.sidebar-menu li a::before {
  color: #909295;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 10px;
}
ul.sidebar-menu li a:hover{}
.widget-recent{}
.widget-recent ul{}
.widget-recent ul li{
border-color: #e8e8e9;
border-image: none;
border-style: solid none none;
border-width: 1px medium medium;
line-height: 1.35;
margin: 15px 0 0;
padding: 15px 0 0;}
.widget-recent ul li:first-child{border: medium none;
margin: 0;
padding: 0;}
.widget-recent ul li .post-wrapper {
  overflow: hidden;
}
.widget-recent ul li .post-sidebar-img {
  float: left;
  margin-right: 5px;
  width: 60px;
}
.widget-recent ul li .post-sidebar-img a {
  border: 2px solid transparent;
  display: block;
}
.widget-recent ul li .post-sidebar-img a:hover{border: 2px solid #ec4445;
padding-left: 0;}
.widget-recent ul li .post-sidebar-img a img{}
.widget-recent ul li .post-sidebar-info{}
.widget-recent ul li .post-sidebar-info h3 {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 5px;
}
.widget-recent ul li .post-sidebar-info h3 a{text-transform:uppercase}
.widget-recent ul li .r-post-date{}
.widget-tags{}
.widget-tags ul{}
.widget-tags ul li{display: inline-block;}
.widget-tags ul li a{border: 1px solid #ddd;
display: block;
font-size: 14px;
margin-bottom: 5px;
padding: 5px 7px;
text-transform: capitalize;}
.widget-tags ul li a:hover{border-color:#ec4445}
.toolbar {
  margin-bottom: 30px;
  overflow: hidden;
}
.view-mode{float: left;}
.view-mode a.active{background: #ec4445 none repeat scroll 0 0;
color: #fff;}
.view-mode a{background: #909295 none repeat scroll 0 0;
color: #fff;
float: left;
font-size: 14px;
height: 29px;
line-height: 29px;
margin-right: 10px;
text-align: center;
width: 29px;}
.view-mode a i{}
.show-result{}
.show-result p{color: #252525;
float: left;
height: 28px;
line-height: 28px;
margin: 0 0 0 10px;
padding: 0;}
.toolbar-form{float: right;
margin: 0;}
.toolbar-form select{border: 1px solid #e8e8e9;
color: #252525;
font-family: Montserrat,Arial,Helvetica,sans-serif;
height: 28px;
line-height: 28px;
margin: 0 0 0 25px;
padding: 0 10px;
text-transform: uppercase;}
.grid-view{}
.grid-view .single-product{margin-bottom:40px}
.grid-view  {
  padding-bottom: 25px;
}
.single-product .product-content
{
  padding-bottom: 1px;
}
.shop-pagination{border-top: 1px solid #e8e8e9;}
.shop-area .pagination {
  margin: 12px 0 0;
}
.list-view{}
.product-list-wrapper{}
.product-list-wrapper h2.product-name {
  font-size: 18px;
}
.product-list-wrapper .pro-rating {
  float: none;
  margin-bottom: 10px;
}
.product-list-wrapper .price-box {
  float: none;
  font-size: 18px;
}
.product-list-wrapper .actions {
  opacity: 1;
  position: inherit;
  text-align: left;
  top: inherit;
}
.product-list-wrapper .actions {
  opacity: 1;
  overflow: hidden;
  position: inherit;
  text-align: left;
  top: inherit;
}
.product-list-wrapper .add-to-cart {
  float: left;
  margin-bottom: 0;
}
.product-list-wrapper .add-to-cart a {
  background: #252525 none repeat scroll 0 0;
  border: 0 none;
  line-height: 40px;
  padding: 0 40px;
}
.product-list-wrapper .add-to-wishlist a i,.product-list-wrapper .compare-button a i,.product-list-wrapper .quickviewbtn a i {
  background: #252525 none repeat scroll 0 0;
  border: 0 none;
  line-height: 40px;
  text-align: center;
  padding:0;
}
.product-list-wrapper .add-to-links {
  margin-left: 15px;
}
.product-list-wrapper .add-to-links {
  float: left;
}
.product-list-wrapper .add-to-wishlist {
  float: left;
}
.product-list-wrapper .add-to-wishlist a, .product-list-wrapper .compare-button a, .product-list-wrapper .quickviewbtn a {
  margin: 0;
}
.product-desc {
  margin-bottom: 30px;
  margin-top: 20px;
}
.product-list-wrapper .add-to-wishlist a i:hover, .product-list-wrapper .compare-button a i:hover, .product-list-wrapper .quickviewbtn a i:hover {
  background:#EC4445!important;color:#fff
}
.product-list-wrapper .actions a:hover{background:#EC4445!important;color:#fff}
.product-list-wrapper .single-product{margin-bottom:30px}
.shop-category-area {
  background: rgba(0, 0, 0, 0) url("img/shop/1.jpg") no-repeat scroll center center / cover ;
  padding: 60px 0;
}
.shop-category-title {
  text-align: center;
}
.shop-category-title h3 {
  color: #fff;
  display: inline-block;
  font-size: 70px;
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
}
.shop-category-title h3:before{border-bottom: 4px double #fff;
bottom: 0;
content: "";
display: block;
left: -15%;
position: absolute;
width: 130%;}




/*----------------------------------- 
5. features-area
-------------------------------------*/
.features-area {}
.pad-60 {
  padding: 60px 0;
  border-top: 1px solid #e1e1e1;
}
.section-heading {
  font-weight: bold;
  margin: 0 0 25px;
  position: relative;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0 15px;
  text-transform: uppercase;
  width: auto;
  color: #444;
}
.title-icon span {
  font-size: 22px;
  position: relative;
}
.title-icon span::before, .title-icon span::after {
  border-top: 4px double #666;
  bottom: 10px;
  content: "";
  height: 1px;
  left: -85px;
  position: absolute;
  width: 80px;
}
.title-icon span::after {
  left: auto;
  right: -85px;
}
.single-product{
  overflow: hidden;
  position:relative;
  border: 5px solid #f7f7f7;
  box-shadow: 0px 0px 4px #a7a4a4;
}
.product-img{position:relative;display:block}
.product-img a{display: block}
.product-img a img{
transition: all 0.3s ease 0s;
width: 100%;}
.product-img a img.primary-image{}
.product-img a img.secondary-image{left: 0;
opacity: 0;
position: absolute;
top: 0;
z-index: 1;}
.actions{position: absolute;
text-align: center;
top: 50%;
width: 100%;opacity:0;transition: all 0.3s ease 0s;}
.action-buttons{}
.add-to-cart {
  display: block;
  margin-bottom: 15px;
}
.add-to-cart a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 32px;
  text-transform: uppercase;
  border: 2px solid #fff;
}
.add-to-links{display: inline-block;}
.add-to-wishlist,.compare-button,.quickviewbtn{display:inline-block}
.add-to-wishlist a,.compare-button a,.quickviewbtn a{display: inline-block;
margin: 0 8px;}
.add-to-wishlist a i,.compare-button a i,.quickviewbtn a i{border: 2px solid #fff;
color: #fff;
font-size: 14px;
height: 40px;
padding-top: 11px;
transition: all 0.3s ease 0s;
width: 40px;}
.compare-button{}
.compare-button a{}
.compare-button a i{}
.quickviewbtn{display: inline-block;}
.quickviewbtn a{}
.quickviewbtn a i{}
.action-buttons a:hover i, .add-to-cart a:hover {
  border-color: #ec4445;
  color: #fff;
  background: #ec4445;
}
.single-product:hover .product-img a img.secondary-image{opacity:1}
.product-img>a:before{ background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;}
.single-product:hover .product-img a:before{opacity:.4;z-index:9}
.single-product:hover .actions{opacity:1;top:40%;z-index:9}
.product-content{
  background-color: #ffbb02;
text-align: center;
padding: 1px 0;
}
h2.product-name{font-size: 15px;
font-weight: normal;
margin: 15px 0 10px;}
.product-name > a {
  color: #665013;
  text-transform: uppercase;
}
.pro-rating {
  float: right;
}
.pro-rating a{}
.pro-rating a i{}
.price-box {
  color: #ec4445;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 400;
  float: left;
}
span.new-price{}
span.old-price{color: #909295;
font-size: 15px;
margin-left: 10px;
text-decoration: line-through;}
span.sale-text{background: #ec4445 none repeat scroll 0 0;
border-radius: 0;
box-shadow: none;
color: #fff;
font-family: Montserrat,Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: normal;
height: 26px;
left: 0;
line-height: 26px;
min-height: 26px;
padding: 0 15px;
position: absolute;
text-align: center;
text-shadow: none;
text-transform: capitalize;
top: 0;
z-index: 10;}
ul.product-nav {
  margin-bottom: 25px;
  text-align: center;
}
ul.product-nav li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
ul.product-nav li a {
  color: #666;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
ul.product-nav li.active a, ul.product-nav li a:hover {
  color: #fe4847;
}
ul.product-nav li::before {
  background: #666 none repeat scroll 0 0;
  content: "";
  height: 13px;
  position: absolute;
  right: -12px;
  top: 3px;
  width: 2px;
}
ul.product-nav li:last-child::before {
  display: none;
}
.features-curosel .col-lg-3,.new-pro-curosel .col-lg-3{width:100%}
.owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #e8e8e9;
  border-radius: 0;
  color: #252525;
  display: inline-block;
  font-size: 25px;
  height: 40px;
  left: -35px;
  margin: 0;
  opacity: 0;
  padding: 6px 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 40px;
  transition: all 0.3s ease 0s;
  margin-top:-50px;
  visibility:hidden;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
  left:auto;right:-35px
}
.owl-carousel:hover.owl-theme .owl-controls .owl-buttons div{
  opacity:1;visibility:visible;z-index: 9;
}
.owl-theme .owl-controls .owl-buttons div:hover{
  border-color:#EC4445;color:#EC4445;
}
.owl-theme .owl-controls {
  margin-top: 0;
  text-align: center;
}
/*----------------------------------- 
6. new-product-area
-------------------------------------*/
.new-product-area {}
.new-product-area .section-heading {
  margin: 0 0 35px;
}





.pagination {
  float: right;
  margin: 0;
}
.pagination ul{}
.pagination ul li{display: inline-block;}
.pagination ul li.active{background: #ec4445 none repeat scroll 0 0;
border: 1px solid transparent;
color: #fff;
font-weight: bold;
height: 25px;
line-height: 25px;
margin-right: 6px;
padding: 0;
text-align: center;
width: 25px;}
.pagination ul li a{background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
color: #777;
display: inline-block;
font-weight: bold;
height: 25px;
line-height: 25px;
margin-right: 6px;
padding: 0;
text-align: center;
width: 25px;}
.pagination ul li a:hover{border: 1px solid #ec4445;
color: #ec4445;}










/*=========================== 
18. product page
============================= */
.product-simple-area{}
.single-product-image{}
.single-product-image a{}
.single-product-image a img{width:100%}
.single-product-info{}
.single-product-info{}
.single-product-info .product-nav {
  float: right;
}
.single-product-info .product-nav a{}
.single-product-info .product-nav a i {
  border: 1px solid #ddd;
  font-size: 17px;
  height: 20px;
  text-align: center;
  width: 20px;
}
.single-product-info .product-nav a i:hover{border-color:#EC4445;color:#EC4445}
.single-product-info h1.product_title{float: left;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;}
.single-product-info .price-box {
  clear: both;
  float: none;
  font-size: 20px;
}
.single-product-info .pro-rating {
  float: none;
  margin-top: 10px;
}
.single-product-info .short-description {
  margin-top: 10px;
}
.single-product-info .short-description > p {
  font-size: 13px;
  line-height: 22px;
}
.single-product-info .stock-status {
  color: #ec4445;
  float: left;
  margin: 0 0 15px;
  width: 100%;
}
.single-product-info .stock-status label{display: inline-block;
font-weight: normal;
margin: 0;}
.single-product-info .quantity{}
.single-product-info .quantity input {
  background: #e8e8e9 none repeat scroll 0 0;
  border: medium none;
  color: #000;
  float: left;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  margin-right: 40px;
  padding: 0 10px 0 0;
  text-align: center;
  width: 90px;
}
.single-product-info .quantity button{background: #252525 none repeat scroll 0 0;
border: medium none;
border-radius: 0;
box-shadow: none;
color: #fff;
font-family: Montserrat,Arial,Helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
height: 40px;
line-height: 40px;
margin: 0;
padding: 0 30px;
text-shadow: none;
text-transform: uppercase;
transition: all 0.3s ease 0s;}
.single-product-info .quantity button:hover{background:#EC4445}
.single-product-info .add-to-wishlist {
  margin-left: 25px;
}
.single-product-info .add-to-wishlist a {
  margin-left: 2px;
  margin-right: 0;
}
.single-product-info .add-to-wishlist a i {
  background: #252525;
  border: 0 none;
  line-height: 40px;
  padding-top: 0;
  text-align: center;
}
.single-product-info .add-to-wishlist a i:hover{background:#EC4445}
.single-product-info > form {
  float: left;
}
.single-product-info .share_buttons{border-top: 1px solid #ececec;
float: left;
padding-top: 15px;
width: 100%;margin-top:20px}
.single-product-info .share_buttons a{}
.product-tab-area {
  margin-bottom: 50px;
  margin-top: 50px;
}
.product-tabs .nav-tabs > li > a {
  border: 0 none;
  border-radius: 0;
  color: #ec4445;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  margin:0;
  text-transform: uppercase;
  border-bottom:4px double transparent;
  padding:0 0 5px;
}
.product-tabs .nav > li > a:focus, .product-tabs .nav > li > a:hover {
  background-color: inherit;
  border-color:#ec4445;
  border-style: none none double;
  border-width: 0 0 4px;
  text-decoration: none;
}
.product-tabs .nav-tabs > li.active > a,.product-tabs  .nav-tabs > li.active > a:focus,.product-tabs  .nav-tabs > li.active > a:hover {
border: medium none;
border-bottom: 4px double #EC4445;
}
.product-tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  margin-right: 51px;
}
.product-tabs .nav-tabs {
  border-bottom: 0 none;
}
.product-tab-desc {
  border: 1px solid #e8e8e9;
  border-radius: 0;
  box-shadow: none;
  float: left;
  font-size: 12px;
  line-height: 24px;
  margin: 20px 0 0;
  padding: 25px 20px;
  width: 100%;
}
.product-tab-desc p{line-height:22px}
.product-tab-desc{}
.product-tab-desc table{border-color: #e8e8e9 #e8e8e9;
border-style: solid none none solid;
border-width: 1px medium medium 1px;width:100%}
.product-tab-desc table{}
.product-tab-desc table th{color: #252525;
font-family: Montserrat,Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: normal;
text-transform: uppercase;
padding: 8px;
width: 150px;}
.product-tab-desc table td{padding: 8px;}
.product-tab-desc table th,.product-tab-desc table td{border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
border-top: 0 none;
line-height: 1.5;
margin: 0;border-right:1px solid #e8e8e9}
.product-tab-desc table tr.pro-back{background:#F9F9F9}
.single-product-tab{}
.single-product-tab .nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 0;
  margin-right: 0;
  padding: 0;
  overflow:hidden;
}
.single-product-tab .nav-tabs {
  border-bottom: 0 none;
  width: 20%;
}
.single-product-tab .nav-tabs > li:first-child{padding-top:0;}
.single-product-tab .nav-tabs > li {
  float: none;
  margin-bottom: 0;
  padding: 5px;
}
.single-product-tab .tab-content {
  float: left;
  padding-right: 14px;
  width: 100%;
}
.single-product-tab .nav-tabs {
  border-bottom: 0 none;
  float: right;
  width: 20%;
}
.single-product-tab .nav > li > a > img {
  max-width: none;
  transition:all 0.3s ease 0s;
}
.single-product-tab .nav > li > a > img:hover{transform:scale(1.2)}
.product-tab .product-page-comments{margin: 35px auto;
max-width: 650px;
width: 100%;}
.product-page-comments h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.product-comments{margin-bottom: 30px;}
.product-comments img{
float: left;}
.product-comments .product-comments-content {
  border: 1px solid #ddd;
  margin-left: 85px;
  padding: 10px;
  position: relative;
}
.product-comments .product-comments-content:before{background: #fff none repeat scroll 0 0;
border-bottom: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
content: "";
display: block;
height: 10px;
left: -6px;
position: absolute;
top: 10px;
transform: rotate(45deg);
width: 10px;}
.product-comments .product-comments-content p{font-size: 16px;}
.product-comments .product-comments-content p strong{font-family: Montserrat,Arial,Helvetica,sans-serif;
text-transform: uppercase;}
.product-comments .product-comments-content span.pro-comments-rating{float: right;}
.product-comments .product-comments-content span i{}
.product-tab .desc{}
.product-tab 
.review-form-wrapper{}
.review-form-wrapper h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.review-form-wrapper input[type=text],.review-form-wrapper input[type=email]{border: 1px solid #e5e5e5;
height: 32px;
margin-bottom: 20px;
padding: 0 0 0 10px;
width: 100%;}
.review-form-wrapper input[type=email]{}
.review-form-wrapper input[type=submit]{background:#252525 none repeat scroll 0 0;
border: medium none;
border-radius: 0;
box-shadow: none;
color: #fff;
display: inline-block;
font-family: Montserrat,Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: normal;
height: 38px;
line-height: 40px;
padding: 0 30px;
text-shadow: none;
text-transform: capitalize;
transition: all 0.3s ease 0s;
white-space: nowrap;
width: auto;text-transform:uppercase}
.review-form-wrapper textarea{border: 1px solid #e5e5e5;
border-radius: 3px;
height: 80px;
margin-bottom: 20px;
margin-top: 20px;
padding: 10px;
width: 100%;}
.review-form-wrapper input[type=submit]:hover{background:#EC4445}
.your-rating{}
.your-rating span{margin-right: 25px;}
.your-rating span a{}
.your-rating span a i{color: #919191;}
.your-rating span:hover a i{color: #ec4445;}
.your-rating h5 {
  margin-bottom: 10px;
}
.upsells_products_widget {
  margin-top: 35px;
}
.upsells_products_widget .section-heading {
  margin: 0 0 25px;
}
.upsells_products_widget h2.product-name {
  font-size: 13px;
}
.upsells_products_widget .price-box {
  font-size: 15px;
}
.upsells_products_widget span.old-price {
  font-size: 13px;
  margin-left:3px;
}


.breadcrumb-area {
  padding: 20px 0;
}
.breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  color: #ec4445;
  display: block;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.breadcrumb ul{}
.breadcrumb ul li{display:inline-block}
.breadcrumb ul li a{color: #777;
display: inline-block;
font-weight: bold;}
.breadcrumb ul li i{color: #777;
margin: 0 10px;}
.breadcrumb ul li a:hover{color: #ec4445;}

.tab-content {
    border: none!important;
   }