.tab-title {
  margin-bottom: 20px;
  font-size: 22px;
}
.nav-tabs > li > a {
  font-size: 15px;
  font-weight: 700;
  margin-right: 0;
  border: 1px solid #E5E5E5;
  color: #666;
  margin-right: -1px;
  border-radius: 0;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tab-content {
  border: 1px solid #e5e5e5;
  border-top: none;
  padding: 12px 16px;
}
.tab-content p {
  margin-bottom: 15px;
}
.tab-content p:last-child {
  margin-bottom: 0;
}
.positions .table tbody td {
  border-top: none;
  border-bottom: 1px solid #E5E5E5;
}
.panel-heading {
  padding: 0;
}
.panel-heading .panel-title a {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 12px 15px 11px;
  box-shadow: none;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.panel-heading .panel-title a:after {
  font-family: "FontAwesome";
  content: "\f104";
  position: absolute;
  right: 15px;
  font-size: 22px;
  font-weight: 300;
  top: 50%;
  line-height: 1;
  margin-top: -12px;
}
.panel-heading .panel-title .collapsed:after {
  content: "\f107";
}
.panel-heading .panel-title a.collapsed {
  background-color: transparent;
  color: inherit;
}
.panel-heading .panel-title a.collapsed:hover {
  color: #ffffff;
}
.panel-heading .panel-title a .control-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.panel-default {
  box-shadow: none;
  border: none;
  padding: 0;
}
.panel-body {
  padding: 4px 15px 10px 15px;
  border: 1px solid #e1e1e1;
  border-top: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-group .panel {
  margin-bottom: 15px;
}
.cta {
  padding: 30px 0;
}
.cta p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}
