/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  line-height: 50px;
  padding: 10px 0 9px;
  position: relative;
  vertical-align: middle;
  width: 44px;
}
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    margin: 0 auto;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .slicknav_menu .slicknav_btn:hover .slicknav_icon-bar{
    background: #ffffff;
  }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; 
    line-height: 30px;
  }
  .slicknav_nav li:not(:first-child){
    border-top: 1px solid rgba(0,0,0,0.04);
  }
  .slicknav_nav .slicknav_arrow {
    background: #ededed none repeat scroll 0 0;
    float: right;
    text-align: center;
    width: 35px;
    color: #666;
  }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
}
.slicknav_menu ul{
  background: #fff;
}
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }

.slicknav_btn {
  border: 1px solid;
  border-radius: 0;
  margin: 16px 15px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slicknav_nav {
  color: #fff;
  font-size: 0.875em;
  list-style: outside none none;
  margin: 0;
  max-height: 350px;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #666; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }






@media (min-width: 768px) and (max-width: 1024px) {
  ul.social-list li a i {
    width: 30px;
    height: 30px;
  }
  .btn-small {
    font-size: 14px;
  }
  .top-bar .contact-details li a {
    font-size: 13px;
    margin-right: 10px;
  }
  .affix .logo-wrapper {
    margin-top: 3px;
  }
  .affix .navbar-brand > img {
    margin-top: 3px;
  }
  .navbar-brand > img {
    width: 115px;
    margin-top: 10px;
  }
  .navbar-default .navbar-nav {
    margin-right: -15px !important;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 7px 6px;
    font-size: 13px;
  }
  .dropdown li a,
  .sup-dropdown li a {
    font-size: 13px;
  }
  .full-search .close-search {
    right: 30px;
  }
  #carousel-area .item {
    height: 380px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #carousel-area .item .carousel-caption h3 {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .hero-area .contents h1 {
    font-size: 36px;
  }
  .boxed h3 {
    font-size: 18px;
  }
  .service-box .service-head h2 {
    font-size: 16px;
  }
  .company-ever .content h2 {
    font-size: 16px;
  }
  .company-ever .content {
    padding: 25px;
    margin-right: 0px;
  }
  .company-ever .content::before {
    display: none;
  }
  .controls a {
    margin: 5px;
    padding: 10px 8px;
  }
  .portfolio-item .content {
    padding: 10px 22px;
  }
  .portfolio-item .content h3 {
    font-size: 16px;
  }
  .portfolio-item .content p {
    font-size: 14px;
  }
  .counter-item {
    border-left: none;
  }
  .team-member {
    margin: 15px 0;
  }
  .touch-carousel .owl-controls .owl-buttons {
    top: -22px;
  }
  #testimonial p {
    margin: 40px 0;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget img {
    width: 100px;
  }
  .featured-thumb {
    margin-top: 30px;
  }
  .banner h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 30px;
  }
  .cta p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .service-3 .service-item {
    padding: 15px;
  }
  .services-2 .tabs-content {
    padding: 15px 0;
  }
  .services-2 .tab-menu .list-group li a {
    padding: 13px;
  }
  .services-2 .tabs-content .services-list {
    padding: 15px 0;
  }
  #pagination {
    margin-bottom: 50px;
  }
  .project-details,
  .share {
    margin-top: 30px;
  }
  .contact-form {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .navbar-toggle {
    display: none;
  }
  .affix .logo-wrapper {
    margin-top: 3px;
  }
  .logo-wrapper .navbar-brand img {
    width: 54%;
    margin-top: -3px;
  }
  .navbar-header {
    position: relative;
  }
  .top-bar {
    display: none;
  }
  .contact-details {
    display: none;
  }
  .dropdown li,
  .sup-dropdown li {
    border-bottom: none;
  }
  .logo-wrapper {
    position: absolute;
    top: 0px;
    margin-top: 5px;
  }
  #carousel-area .item {
    height: 280px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #carousel-area .item .carousel-caption h3 {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .hero-area .contents h1 {
    font-size: 30px;
  }
  .boxed h3 {
    font-size: 20px;
    padding: 15px 0;
  }
  .boxed .btn-border {
    float: none;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .service-box .service-head h2 {
    font-size: 16px;
  }
  .company-ever .content h2 {
    font-size: 16px;
  }
  .company-ever .content {
    padding: 25px;
    margin-right: 0px;
  }
  .company-ever .content::before {
    display: none;
  }
  .controls a {
    margin: 5px;
    padding: 10px 8px;
  }
  .portfolio-item .content {
    padding: 10px 22px;
  }
  .portfolio-item .content h3 {
    font-size: 16px;
  }
  .portfolio-item .content p {
    font-size: 14px;
  }
  .team-member {
    margin-bottom: 30px;
  }
  .counter-item {
    border-left: none;
  }
  .touch-carousel .owl-controls .owl-buttons {
    top: -22px;
  }
  #testimonial p {
    margin: 40px 0;
  }
  #testimonial p .quote-left {
    display: none;
  }
  #testimonial p .quote-right {
    display: none;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget img {
    width: 100px;
  }
  .featured-thumb {
    margin-top: 30px;
  }
  .banner h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .partners .logo {
    margin-bottom: 15px;
  }
  .panel-heading .panel-title a {
    font-size: 12px;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 30px;
  }
  .cta p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .service-3 .service-item {
    margin-bottom: 30px;
  }
  .services-2 .tabs-content {
    padding: 15px 0;
  }
  .services-2 .tabs-content .services-list {
    padding: 15px 0;
  }
  .error-page h1 {
    font-size: 150px;
    margin: 50px 0;
  }
  .error-page h2 {
    font-size: 22px;
  }
  .error-page p {
    font-size: 16px;
  }
  .blog-post .post-thumb .hover-wrap .link {
    top: 40%;
  }
  .blog-post .date {
    float: none;
  }
  .blog-post .post-content {
    padding: 30px 0;
  }
  #sidebar {
    margin-top: 50px;
  }
  .blog-post .post-content .meta .meta-part {
    margin-right: 10px;
  }
  #comments .comments-list li ul {
    padding-left: 0;
  }
  .contact-form {
    margin-bottom: 50px;
  }
}
@media (max-width: 568px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contact-details {
    display: none;
  }
  .affix .logo-wrapper {
    margin-top: 3px;
  }
  .logo-wrapper .navbar-brand img {
    width: 54%;
    margin-top: -3px;
  }
  .top-bar {
    display: none;
  }
  #carousel-area .item {
    height: 280px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #carousel-area .item .carousel-caption h3 {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .boxed h3 {
    font-size: 20px;
    padding: 15px 0;
  }
  .boxed .btn-border {
    float: none;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .service-box .service-head h2 {
    font-size: 16px;
  }
  .company-ever .content h2 {
    font-size: 16px;
  }
  .company-ever .content {
    padding: 25px;
    margin-right: 0px;
  }
  .company-ever .content::before {
    display: none;
  }
  .controls a {
    margin: 5px;
    padding: 10px 8px;
  }
  .portfolio-item .content {
    padding: 10px 22px;
  }
  .portfolio-item .content h3 {
    font-size: 16px;
  }
  .portfolio-item .content p {
    font-size: 14px;
  }
  .team-member {
    margin-bottom: 30px;
  }
  .counter-item {
    border-left: none;
  }
  .touch-carousel .owl-controls .owl-buttons {
    top: -22px;
  }
  .project-details,
  .share {
    margin-top: 30px;
  }
  #testimonial p .quote-left {
    display: none;
  }
  #testimonial p .quote-right {
    display: none;
  }
  #testimonial .client-info {
    margin: 42px 10px;
  }
  #testimonial .client-info .client-name {
    font-size: 14px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget img {
    width: 100px;
  }
  .featured-thumb {
    margin-top: 30px;
  }
  .banner h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .partners .logo {
    margin-bottom: 15px;
  }
  .panel-heading .panel-title a {
    font-size: 12px;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 30px;
  }
  .cta p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .service-3 .service-item {
    margin-bottom: 30px;
  }
  .services-2 .tabs-content {
    padding: 15px 0;
  }
  .services-2 .tabs-content .services-list {
    padding: 15px 0;
  }
  .error-page h1 {
    font-size: 150px;
    margin: 50px 0;
  }
  .error-page h2 {
    font-size: 22px;
  }
  .error-page p {
    font-size: 16px;
  }
  .blog-post .post-thumb .hover-wrap .link {
    top: 40%;
  }
  .blog-post .date {
    float: none;
  }
  .blog-post .post-content {
    padding: 30px 0;
  }
  #sidebar {
    margin-top: 50px;
  }
  .blog-post .post-content .meta .meta-part {
    margin-right: 10px;
  }
  #comments .comments-list li ul {
    padding-left: 0;
  }
  .contact-form {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .section-title {
    font-size: 20px;
  }
  .section {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .big-title {
    font-size: 18px;
  }
  .logo-wrapper .navbar-brand img {
    width: 54%;
    margin-top: 0px;
  }
  .hidden-xs {
    display: none;
  }
  .post-title {
    font-size: 16px;
  }
  .contact-details {
    display: none;
  }
  #carousel-area {
    height: 140px;
  }
  #carousel-area .item .carousel-caption {
    top: -5%;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #carousel-area .item .carousel-caption h3 {
    display: none;
  }
  #carousel-area .carousel-control {
    top: 20%;
  }
  #carousel-area .right.carousel-control {
    right: 10%;
  }
  .hero-area .contents h1 {
    font-size: 22px;
  }
  .boxed h3 {
    font-size: 20px;
    padding: 15px 0;
  }
  .boxed .btn-border {
    float: none;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .service-box .service-head h2 {
    font-size: 16px;
  }
  .company-ever .content h2 {
    font-size: 16px;
  }
  .company-ever .content {
    padding: 25px;
    margin-right: 0px;
  }
  .company-ever .content::before {
    display: none;
  }
  .controls a {
    margin: 5px;
    padding: 10px 8px;
  }
  .portfolio-item .content {
    padding: 10px 22px;
  }
  .portfolio-item .content h3 {
    font-size: 16px;
  }
  .portfolio-item .content p {
    font-size: 14px;
  }
  .team-member {
    margin-bottom: 30px;
  }
  .counter-item {
    border-left: none;
  }
  .touch-carousel .owl-controls .owl-buttons {
    top: -22px;
  }
  #testimonial p .quote-left {
    display: none;
  }
  #testimonial p .quote-right {
    display: none;
  }
  #testimonial .client-info {
    margin: 42px 10px;
  }
  #testimonial .client-info .client-name {
    font-size: 14px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget img {
    width: 100%;
  }
  .featured-thumb {
    margin-top: 30px;
  }
  .banner h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .partners .logo {
    margin-bottom: 15px;
  }
  .panel-heading .panel-title a {
    font-size: 12px;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 30px;
  }
  .cta p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .service-3 .service-item {
    margin-bottom: 30px;
  }
  .services-2 .tabs-content {
    padding: 15px 0;
  }
  .services-2 .tabs-content .services-list {
    padding: 15px 0;
  }
  .error-page h1 {
    font-size: 150px;
    margin: 50px 0;
  }
  .error-page h2 {
    font-size: 22px;
  }
  .error-page p {
    font-size: 16px;
  }
  .blog-post .post-thumb .hover-wrap .link {
    top: 40%;
  }
  .blog-post .date {
    float: none;
  }
  .blog-post .post-content {
    padding: 30px 0;
  }
  #sidebar {
    margin-top: 50px;
  }
  #carousel-area .item .carousel-caption .btn {
    display: none;
  }
  #carousel-area .carousel-control i {
    border: none;
  }
  #carousel-area .item .carousel-caption {
    margin-top: 30px;
  }
  .blog-post .post-content .meta .meta-part {
    margin-right: 10px;
  }
  .project-details,
  .share {
    margin-top: 30px;
  }
  #comments .comments-list li ul {
    padding-left: 0;
  }
  .contact-form {
    margin-bottom: 50px;
  }
  .breadcrumb {
    width: 240px;
  }
  .nav-tabs > li > a {
    font-size: 12px;
  }
  .panel-heading .panel-title a {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .featured-header .featured-title {
    padding-left: 57px;
  }
  .featured-header .featured-title h4 a {
    font-size: 12px;
  }
  .featured-header .featured-title p {
    font-size: 11px;
  }
  .address li a {
    font-size: 12px;
  }
  .product .post-content h4 {
    font-size: 13px;
  }
}




/*You can add your won color also */
a:hover {
  color: #ffbb02;
}
.section-title span {
  color: #039dd4;
}
.section-title:before {
  background: #ffbb02;
}
.btn-effect {
  background: #ffbb02;
}
.btn-effect:hover {
  background: #ffbb02;
}
.btn-effect:after {
  background: rgba(255, 255, 255, 0.2);
}
.btn-border:hover {
  color: #ffbb02;
}
.btn-wite:hover {
  color: #ffbb02;
}
.form-control:focus,
textarea:focus {
  box-shadow: none;
  border-bottom: 2px solid #ffbb02;
}
a.main-button,
input[type="submit"] {
  background-color: #ffbb02;
}
.carousel-control i:hover {
  color: #ffbb02;
  border-color: #ffbb02;
}
.slicknav_btn {
  border-color: #ffbb02;
}
.slicknav_btn:hover {
  background: #ffbb02;
}
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: #ffbb02;
}
.slicknav_menu .slicknav_icon-bar {
  background: #ffbb02;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: #ffbb02;
}
.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
  color: #fff;
  background-color: #ffbb02;
}
.navbar-default .navbar-nav .dropdown {
  border-top: 3px solid #039dd4;
}
.full-search {
  border-top: 3px solid #ffbb02;
}
.dropdown li a.active,
.sup-dropdown li a.active {
  color: #fff;
  background-color: #ffbb02;
}
.tp-caption .small-title span {
  color: #ffbb02;
}
.tparrows.preview1:hover:after {
  color: #ffbb02;
}
.tp-bullets.preview1 .bullet:hover,
.tp-bullets.preview1 .bullet.selected {
  background: #ffbb02 !important;
}
.boxed {
  background: #ffbb02;
}
.controls a:hover,
.controls a.active {
  color: #fff;
  background: #ffbb02;
  border: 1px solid #ffbb02;
}
.portfolio-item .icon i {
  background: #ffbb02;
}
.portfolio-item .content {
  background: #ffbb02;
}
.featured-header i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.featured-header .featured-title p {
  color: #ffbb02;
}
.featured-content:hover i {
  background: #ffbb02;
  color: #fff;
}
.team-member .info {
  background: #ffbb02;
}
#counter:before {
  background: rgba(253, 197, 2, 0.7);
}
#testimonial .img-member {
  border: 4px solid #ffbb02;
}
#testimonial .client-info {
  background: #e62981;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
  background: #ffbb02;
}
#testimonial::before {
  background: rgba(42, 28, 18, 0.7);
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffbb02;
}
.hours-widget .contact-info ul.hours span {
  color: #ffbb02;
}
.copyright-section p a {
  color: #ffbb02;
}
.back-to-top i {
  background-color: #ffbb02;
}
.switcher-box .open-switcher {
  background: #ffbb02;
}
.cta {
  background: #ffbb02;
}
.item-wrapper .icon i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.item-wrapper:hover i {
  background: #ffbb02;
  color: #fff;
}
.company-history .content-history-header .year {
  color: #ffbb02;
}
.partners .logo:hover {
  border-color: #ffbb02;
  background: #fff;
}
.partners .partners-text h3 a:hover {
  color: #ffbb02;
}
.pricing-tables .pricing-table .plan-name .icon i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.pricing-tables .pricing-table .plan-price {
  background: #ffbb02;
}
.service-box .service-head .icon i {
  color: #ffbb02;
}
.service-box .service-head:after {
  background: #ffbb02;
}
.service-box:hover .icon i {
  color: #fff;
  background: #ffbb02;
}
.services-2 .tab-menu .list-group li a:hover,
.services-2 .tab-menu .list-group li.active a {
  background: #ffbb02;
  color: #fff;
  border-color: #ffbb02;
}
.services-2 .tabs-content .services-list .list li span {
  background: #ffbb02;
}
.service-3 .service-item .icon i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.service-3 .service-item h3 a {
  color: #ffbb02;
}
.service-3 .service-item:hover {
  background: #ffbb02;
  border-color: #ffbb02;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover {
  background-color: #ffbb02 !important;
  border-color: #ffbb02 !important;
  color: #fff;
}
.panel-heading .panel-title a {
  background-color: #ffbb02;
}
.panel-heading .panel-title a.collapsed:hover {
  background-color: #ffbb02;
  color: #ffffff;
}
.post-title a:hover {
  color: #ffbb02;
}
.blog-post .post-thumb .hover-wrap .link i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.blog-post .post-thumb .hover-wrap .link i:hover {
  background: #ffbb02;
  color: #fff;
}
#pagination span.current,
#pagination a:hover {
  color: #ffbb02;
}
.widget-title:before {
  border-bottom: 1px solid #ffbb02;
}
#sidebar .cat-list li a:hover {
  color: #ffbb02;
}
#sidebar .posts-list .widget-content a:hover {
  color: #ffbb02;
}
#sidebar .tag a:hover {
  color: #fff;
  background: #ffbb02;
  border-color: #ffbb02;
}
blockquote {
  border-left-color: #ffbb02;
}
.reply-link:hover {
  background: #ffbb02;
  color: #fff;
}
.product .post-featured .esg-overlay .icon i {
  color: #ffbb02;
  border: 2px solid #ffbb02;
}
.product .post-featured .esg-overlay .icon i:hover {
  background: #ffbb02;
  color: #fff;
}
.product .post-content .product-price .amount {
  color: #ffbb02;
}
.product .btn-cart {
  border: 1px solid #ffbb02;
}
.product .btn-cart:hover {
  background: #ffbb02;
}
.page-header {
  background: rgba(253, 197, 2, 0.7);
}
.breadcrumb a:hover {
  color: #ffbb02;
}
.square-spin > div {
  background: #ffbb02;
  border: 1px solid #ffbb02;
}

.myabt p
{
  text-align: justify!important;
}


.myabt ul li::before {
    color: #ffbb02;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    margin-right: 10px;
}

.myabt ul li {
   line-height: 1.9em;
}

.contact-info2 h3 {
    border-bottom: 2px solid #e8e8e9 !important;
    font-size: 16px;
    margin: 10px 0;
    text-transform: uppercase;
}

.contact-info3 h3 {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-bottom: 5px;
}